/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a professional background color */
body {
    background-color: #f5f5f5;
}

/* Style the navigation bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}

nav .logo img {
    width: 150px;
    height: auto;
    margin-right: 10px;
}

nav .menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap; /* Wrap menu items on smaller screens */

}

nav .menu li {
    margin-right: 20px;
}

nav .menu li a {
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    font-weight: 600;
    transition: color 0.3s;
}

nav .menu li a:hover {
    color: #ff6f61;
}

Link button {
    list-style: none;
    background-blend-mode: color;
    border: none;
}

/* Style the search bar */
.search {
    position: relative;
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Wrap search elements on smaller screens */
}

.search input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
    outline: none;
}

.suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.suggestions li {
    padding: 10px;
    cursor: pointer;
}

.suggestions li:hover {
    background-color: #f2f2f2;
}

/* Style the search button */
.search button {
    background-color: #ff6f61;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-left: 10px;
}

.search button:hover {
    background-color: #e95c4a;
}

/* Responsive design for smaller screens (e.g., phones) */
@media (max-width: 780px) {
    nav .menu {
        flex-direction: column;
        margin-top: 20px;
    }

    nav .logo img {
        width: 100px;
    }

    nav .menu li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    nav .menu li a {
        font-size: 0.8rem;
    }

    .search input[type="text"] {
        max-width: 120px;
    }

    .search button {
        padding: 8px 14px;
    }

    .suggestions li {
        padding: 6px;
    }

    .search button {
        padding: 6px 12px;
    }
}
